.container-fluid {
    background-color: #0282f9;
    height: 100px;

    img {
        height: 80px;

    }

    span {
        color: white;
    }

    .special-image {
        background-image: url(../img/buy-dc-power-visa.svg);
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }
}