.background-comics {
    background-color: black;
    padding: 50px 0;

    .container-comics {
        // background-color: red;
        width: 90%;
        padding-top: 20px;
        margin: 0 auto;

        .label {
            background-color: #0282f9;
            padding: 20px;
            color: white;
            position: absolute;
            top: 580px;
            left: 70px;
        }

        .card-container {
            width: 100%;
            // background-color: blue;

            .card {
                background-color: black;

                a {
                    text-decoration: none;

                    .image {
                        margin: 10px;
                        width: calc((100% /6) - 10px);
                    }

                    .title {
                        text-align: center;
                        font-size: 12px;
                    }
                }
            }
        }

    }

    .button {
        width: 10%;
        padding: 10px;
        margin: 25px auto 0 auto;
        text-align: center;
        background-color: #0282f9;
        color: white;
    }
}